@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  font-style: normal;
}
:root{
  --primary-btn-text: #0E1111;
  --white: #F5F5F5;
  --red: #F72C25;
  --gray: #5C6670;
}

body {
  font-family: "Press Start 2P", system-ui;
  margin: 0;
  display: flex;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
