.diceContainer{
    width: 82px;
    height: 82px;
    stroke: var(--primary-btn-text);
    stroke-width: 3px;
}
.selected {
    border: 3px solid #F5F5F5;
    width: 85px;
    height: 85px;
}
.diceCube{
    position: relative;
    width: 100px;
    height: 100px;
}
.face{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
}
.face img {
    width: 100%; 
    height: auto;
    object-fit: contain;
}
.face[data-symbol="Knight"] {
    background-color: #AF0000;
    box-shadow:  
    8px 8px 0 0 #640202,
    4px 4px 0 0 #2B2A2A;
}
.face[data-symbol="Tank"] {
    background-color: #020BA6;
    box-shadow:  
    8px 8px 0 0 #050A60,
    4px 4px 0 0 #2B2A2A;
}
.face[data-symbol="Mage"] {
    background-color: #48047C;
    box-shadow:  8px 8px 0 0 #310455,
    4px 4px 0 0 #2B2A2A;
}
.face[data-symbol="Healer"] {
    background-color: #007616;
    box-shadow:  8px 8px 0 0 #02390C,
    4px 4px 0 0 #2B2A2A;
}
.face[data-symbol="Rogue"] {
    background-color: #B97E00;
    box-shadow:  8px 8px 0 0 #614303,
    4px 4px 0 0 #2B2A2A;
}
.face[data-symbol="Jester"] {
    background-color: #F5F5F5;
    box-shadow:  8px 8px 0 0 #666666,
    4px 4px 0 0 #2B2A2A;
}
