.DeckPage{
    background-image: url('../assets/pixil-frame-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: -1em 0 0 0;
    padding: 75px 100px;
    display: inline-block;
}
.DeckPage p{
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin: 0;
}
.DeckPage a{
    text-decoration: none;
}
.container{
    padding: 110px 85px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    text-align: center;
}
.DeckPage h3{
    font-size: 36px;
    color: var(--white);
    margin: 10px 0 0 0;
}
.DeckPage button{
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 10px solid var(--white);
    position: relative;
    cursor: pointer;
}
.DeckPage button::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 32px;
    height: 80px;
    background-color: var(--white);
}
.DeckPage button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 97px;
    height: 15px;
    background-color: var(--white);
}
.edit{
    justify-self: center;
}
/*
.coins{
    position: absolute;
    top: 0;
    right: -20%;
}*/