.dicePageBody{
    background-image: url('../assets/grass.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}
.selectionContainer{
    background-image: url('../assets/wood-horizontal.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5em;
    image-rendering: pixelated;
}
.diceContainer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 3em;
    padding-bottom: 3em;
}
.confirmButton {
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    font-size: 1.25rem;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    width: fit-content;
    font-family: "Press Start 2P", system-ui;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .dicePageBody > .selectionContainer{
        height: auto;
        gap: 50px;
    }
}
@media (max-width: 900px){
    .dicePageBody{
        padding: 5vh 2vw;
        flex-direction: column;
    }
    .selectionContainer{
        width: 95%;
        padding: 3vh 2vw;
    }
    .diceContainer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 3vh 3vw;
        padding: 3vh;
    }
    .confirmButton{
        width: 80%;
        font-size: clamp(14px, 4vw, 18px);
    }
}
