.HomePage{
    background-image: url('../assets/forest_2100x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    image-rendering: pixelated;
}
.HomePage h1, .HomePage h2{
    color: var(--white);
    padding: 10px;
}
.HomePage h2{
    font-weight: 100;
    border: 5px solid var(--white);
    text-decoration: none;
}
.HomePage a{
    text-decoration: none;
}
@media (min-width: 480px) {
    .HomePage h1{
        font-size: 1.5rem;
    }
    .HomePage h2{
        font-size: 1rem;
    }
}
@media (min-width: 760px) {
    .HomePage h1{
        font-size: 2.25rem;
    }
    .HomePage h2{
        font-size: 1.5rem;
    }
}
@media (min-width: 1000px) {
    .HomePage h1{
        font-size: 2.8rem;
    }
    .HomePage h2{
        font-size: 2rem;
    }
}
@media (min-width:1300px) {
    .HomePage h1{
        font-size: 3.75rem;
    }
    .HomePage h2{
        font-size: 2.5rem;
    }
}