@media (min-width: 1300px) {
    .playPageBody{
        grid-template-rows: 1fr;
    }
    .deckBox img{
        width: 50%;
    }
}
@media (max-width: 1300px) {
    .deckBox{
        width: 20%;
    }
    .playPageBody > .supportCards{
        top: 75%;
        left: 60%;
    }
    .playPageBody > .endRoundButton{
        width: 200px;
    }
    .playPageBody > .confirmButton{
        width: 200px;
    }
}
.playPageBody{
    background-image: url('../assets/GRASS_1-modified.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
}
.endRoundButton{
    font-family: "Press Start 2P", system-ui;
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 100px;
}
.confirmButton{
    font-family: "Press Start 2P", system-ui;
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 100px;
}
.dicePanel{
    background-image: url('../assets/pixil-frame-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    justify-items: center;
    align-items: center;
    padding: 1.5rem;
}
.deckBox{
    position: absolute;
    top: 20%;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.deckBox img{
    width: 100%;
    max-width: 350px;
    height: auto;
}
.playPanel{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 20px 0;
    justify-self: center;
}
.supportCards{
    position: absolute;
    cursor: pointer;
    top: 63%;
    left: 69%;
}
.supportCards > *{
    color: var(--white);
}
.supportCardsOpen{
    position: absolute;
    color: var(--white);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.supportButtons{
    margin-top: 10em;
    display: flex;
    gap: 10rem;
}
.supportButton{
    font-family: "Press Start 2P", system-ui;
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    width: 250px;
    height: 40px;
    font-size: 20px;
}
@media (min-width: 2000px) {
    .deckBox{
        top: 30%;
    }
    .supportCards{
        top: 65%;
    }
}
.attackMenu{
    position: absolute;
    background-image: url('../assets/pixil-frame-2.png');
    color: var(--white);
    top: 37%;
    left: 75%;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    gap: 25px;
}
.moveRowNormal { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 12px; 
    margin: 10px 14px;
    padding: 10px 14px; 
    background: #83868C; 
}
.moveRowUltimate { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; 
    margin: 10px 14px;
    padding: 10px 14px; 
    background: #5B5D65; 
}
.swordBlock{
    display: flex;
    gap: 10px;
}
.priceBlock{
    display: flex;
    gap: 10px;
}
.iconBlock { 
    display: flex; 
    align-items: center;
    gap: 50px; 
    font-size: 16px; 
    padding: 5px;
    border-bottom: 4px solid var(--white) ;
}
.descriptionBlock { 
    font-size: 16px; 
    color: var(--white); 
}