.PlayPage{
    background-image: url('../assets/GRASS_1-modified.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center;
}