.Tutorial{
    background-image: url(../assets/pixil-frame-1.png), url(../assets/GRASS_1-modified.png);
    text-align: center;
    background-size:contain, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center;
    margin: -1.35em 0 0 0;
}
.Tutorial h1 {
    padding-top: 30px;
    color: var(--white);
}
.Tutorial span{
    position: absolute;
    left: 28%;
    top: 30px;
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    font-size: 16px;
    text-align: center;
    padding: 0.35rem 0.85rem;
}