.Tutorial{
    background-image: url(../assets/pixil-frame-1.png), url(../assets/GRASS_1-modified.png);
    text-align: center;
    background-size:contain, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 300vh;
    background-position: center;
    margin: -1.35em 0 0 0;
    image-rendering: pixelated;
}
.Tutorial h1 {
    padding-top: 30px;
    color: var(--white);
}
.Tutorial span{
    position: absolute;
    left: 28%;
    top: 30px;
    border: 1px solid var(--primary-btn-text);
    background-color: var(--white);
    color: var(--primary-btn-text);
    font-size: 16px;
    text-align: center;
    padding: 0.35rem 0.85rem;
}

.Text{
    margin-left: 30%;
    margin-right: 30%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
}

li{
    margin-bottom: 25px; /*5=malo, 10=malo, 15=ujde, 20=prijde mi dobry,25= taky dobry, 30=prijde mi az moc*/
}

